@rendermode @(new InteractiveServerRenderMode(prerender: false))

<div class="nav-buttons-container drawer-target">
    <h3 class="dxbl-menu-title buttonfullwidth">Login Render Island</h3>
    <ThemeSwitcher />
    <LoginDisplay />

</div>

